beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==2.0.12
cocotb==1.8.1
find-libpython==0.4.0
idna==3.7
importlib-resources==5.4.0
numpy==1.19.5
Pillow==8.4.0
PyYAML==6.0.1
requests==2.27.1
scipy==1.5.4
soupsieve==2.3.2.post1
tqdm==4.64.1
urllib3==1.26.18
virtualenv==15.1.0
zipp==3.6.0
